*{  
  margin:0;
	padding:0;
}

header{  
  width:100%;
	height:50px;
	border-bottom:2px solid lightgray;
}

.tit{  
  margin:5px 1%;
}

.con{  
  margin:20px 15%;
}
.con li{
  margin-top:5px;
	padding:5px 40px;
	list-style:none;
	border:1px solid lightgray;
	border-radius:5px;
	height:40px;
}

.lia{  
    display:flex;
		justify-content:space-between;
		font-size:20px;
}

.date{  
    color:black;
}

footer{  
  width:100%;
	height:25px;
	position:absolute;
	bottom:0px;
	font-size:15px;
	border-top:2px solid lightgray;
	text-align:center;
}