* {
	margin: 0;
	padding: 0;
}

.body {
	min-width: 600px;
}

a {
	text-decoration: none;
}

header {
	box-sizing: border-box;
	width: 100%;
	height: 50px;
	padding: 0 10px;
	box-shadow: 3px 2px 8px 0 rgba(0, 0, 0, 0.2);
	border-bottom: 2px solid lightgray;
	display: flex;
	justify-content: space-between;
}

.menu {
	width: 25px;
	height: 100%;
	padding: 12px 0 13px;
	box-sizing: border-box;
	display: none;
	justify-content: space-between;
	flex-direction: column;
	align-items: center;
}

.menu div {
	height: 4px;
	width: 100%;
	border-radius: 2px;
	background-color: black;
}

.links {
	height: 50px;
	display: flex;
}

.links li {
	list-style-type: none;
	width: 75px;
	height: 50px;
	line-height: 50px;
	text-align: center;
}
.links a {
	width: 100%;
	font-size: 20px;
	height: 100%;
	color: black;
	padding: 3px 10px;
	text-decoration: none;
}

.links li:hover {
	background-color: lightgray;
}

.tit {
	margin: 5px 1%;
}

.con {
	width: 100%;
	margin: 20px auto;
}

.con li {
	width: 100%;
	margin-top: 10px;
	list-style: none;
	border: 1px solid lightgray;
	border-radius: 5px;
	height: 40px;
	line-height: 40px;
	box-shadow: 3px 2px 8px 0 rgba(0, 0, 0, 0.2);
}

.con li > a {
	color: rgba(2,117,216);
	margin: 0 20px;
} 

.con li > a:hover {
	text-decoration: underline;
}

.item {
	display: flex;
	justify-content: space-between;
	font-size: 20px;
}

.date {
	color: black;
}

footer {
	width: 100%;
	height: 25px;
	position: absolute;
	bottom: 0px;
	font-size: 15px;
	border-top: 2px solid lightgray;
	text-align: center;
}

@media (min-width: 980px) {
	.con {
		width: 980px;
	}
}

@media (max-width: 750px) {
	.logo {
		order: 2;
	}
	.con {
		width: 100%;
	}
	.con li a {
		font-size: 16px;
	}
	.menu {
		display: flex;
		order: 1;
	}
	.links {
		width: 100px;
		height: 100%;
		padding-top: 50px;
		background-color: lightgray;
		position: absolute;
		left: -100px;
		top: 0;
		bottom: 0;
		z-index: 9999;
		transition: left 0.3s;
		display: flex;
		flex-direction: column;
	}
	.menu:hover ~ .links,
	.links:hover {
		left: 0;
	}
	.links > li {
		width: 100%;
		height: 30px;
		line-height: 30px;
		text-align: center;
		margin-bottom: 10px;
	}
	.links a{
		font-size: 20px;
	}
}