* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 18px;
}

body {
  font-family: "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

.inner {
  margin: 25px auto;
  width: 960px;
  border: 1px solid lightgray;
  border-radius: 20px;
  padding: 50px;
}

h2 {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, Helvetica, STKaiti, SimSun, serif;
  border-bottom: 2px solid lightgray;
  padding-bottom: 10px;
  color: #595b51;
}

h3 {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, Helvetica, STKaiti, SimSun, serif;
  color: #6c6c6c;
  width: 75%;
  padding-bottom: 5px;
  border-bottom: 1px solid lightgray;
}

h4 {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, Helvetica, STKaiti, SimSun, serif;
  color: #6c6c6c;
  width: 50%;
}

p, ul li{
  margin: 0.8em 0;
  height: 2;
  line-height: 2;
  font-size: 18px;
}

ul li, ol li {
  margin-left: 20px;
}

li::marker {
  margin-left: 20px;
}

.cen_img {
  text-align: center;
}

img {
  border-radius: 5px;
}

code {
  font-family: Menlo, Monaco, Consolas, "Droid Sans Mono", "Courier New", monospace, "Droid Sans Fallback";
  font-size: 18px;
  line-height: 1.6;
}

pre {
  font-family: Inconsolata, Consolas, "DEJA VU SANS MONO", "DROID SANS MONO", Proggy, monospace;
  font-size: 80%;
  background-color: #F4F4F4;
  border: 1px solid #E0E0E0;
  border-radius: 4px;
  padding: 5px;
  line-height: 1.3;
  display: block;
  width: 100%;
  overflow: auto;
}

@media (max-width: 750px) {
  code {
    font-size: 16px;
  }
  .inner {
    width: 100%;
    padding: 50px 20px;
    box-sizing: border-box;
  }
  html {
    font-size: 20px;
  }
  img {
    width: 100%;
    margin: auto;
  }
}