body{  
  font-size:18px;
	font-family:"lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

.inner{  
  margin:25px 15%;
	border:1px solid lightgray;
	border-radius:5px;
	padding:50px;
}

h2{  
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, Helvetica, STKaiti, SimSun, serif;
  border-bottom:2px solid lightgray;
	padding-bottom:10px;
	color:#595b51;
}

h3{ 
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, Helvetica, STKaiti, SimSun, serif;
  color:#6c6c6c;
	width:75%;
	padding-bottom:5px;
	border-bottom:1px solid lightgray;
}

h4{  
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, Helvetica, STKaiti, SimSun, serif;
  color:#6c6c6c;
	width:50%;
}

p{  
  line-height:1.8;
}

.cen_img{  
    text-align:center;
}

img{  
   border-radius:5px; 
}

code {
	font-family: Menlo, Monaco, Consolas, "Droid Sans Mono", "Courier New", monospace, "Droid Sans Fallback";
	font-size: 14px;
	line-height: 19px;
}

pre {
    font-family: Inconsolata, Consolas, "DEJA VU SANS MONO", "DROID SANS MONO", Proggy, monospace;
    font-size: 80%;
    background-color: #F4F4F4;
    border: 1px solid #E0E0E0;
    border-radius: 4px;
    padding: 5px;   
    line-height: 1.3;

    display: block;
    width: 100%;
    overflow: auto;
}
